.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
}
.tabs {
  display: flex;
  width: fit-content;
  flex-direction: row;
}
.tab {
  width: 200px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 0 10px;
  cursor: pointer;
  transition-duration: 0.12s;
}
.tab-active {
  background-color: rgb(86, 231, 86);
  color: white;
}
.tab-inactive {
  background-color: #aaaaaa;
}
.content {
  font-size: 20px;
  line-height: 35px;
  text-align: justify;
  padding: 20px 40px;
}
